.welcome {
  .welcome__container {
    background-color: #d9d9d9;
    border-radius: 15px;

    padding: 4rem;

    h1 {
      font-size: 25px;
      padding-bottom: 1rem;
      cursor: default;
    }

    p {
      font-size: 18px;
      padding-bottom: 1rem;
      cursor: default;
    }

    .welcome__filter_container {
      display: flex;
      gap: 0.5rem;
    }
  }
}
